@color_red:red;
@colorx:red;
@colory:#10f2fd;

@color_wait:#800000;
@color_high: #ff0000;
@color0: #c2c188;
@color1: #980f0f; 
@color3: #ffffff;
@color5: #0d9e0d;

@html_back: darken(@color0,20%);

//msg
// @msg_back: lighten(@color1,20%);
// @msg_color: @color3;
// @msg_border_color: lighten(@color1,20%);

//help
// @help_head_back: darken(@color1,0%);
// @help_head_color: @color3;
// @help_back: darken(@color0,5%);
// @help_color: darken(@color1,20%);

//menu  orizontale
@menu_base_back: darken(@color0,20%);
@menu_bck: @color1;
@menu_hover_bck: darken(@menu_bck, 10%);
@menu_border_bck: darken(@menu_bck, 45%);
@menu_color: @color3;
@menu_title_bck:darken(@color5,9%);

//table head
// @head_first_back: lighten(@color1,10%);
@head_back: darken(@color0,16%);
@head_color: darken(@color1,20%);
@head_border_color: darken(@color0,90%);

//table rows
@cell_border_color: darken(@color0,40%);
@cell_back: darken(@color0,5%);
@cell_color: darken(@color1,20%);
@cell_hover_back: lighten(@color1,0%);
// @cell_jshover_back: lighten(@color1,10%);
@cell_hover_color: lighten(@color0,30%);
// @cell_jshover_color: @color3;
// @form_empty: darken(@color1,10%);

//context rows
@row_text_border_color: darken(@color0,40%);
// @text_back: lighten(@color0,10%);
@row_text_back: darken(@color0,-5%);
@row_text_color: darken(@color1,20%);
// @row_text_hover_back: lighten(@color1,0%);
// @cell_jshover_back: lighten(@color1,10%);
// @row_text_hover_color: lighten(@color0,30%);
// @cell_jshover_color: @color3;
// @form_empty: darken(@color1,10%);

// text 
@line_text_border_color: darken(@color0,40%);
@line_text_back: darken(@color0,-5%);
@line_text_color: darken(@color1,20%);

//filter
@wnd_back: darken(@color0,10%);
@wnd_color: darken(@color1,20%);
@wnd_hover_back: lighten(@color1,0%);
@wnd_hover_color: lighten(@color0,30%);
@wnd_border_color:darken(@color1,20%);
@wnd_select_back: darken(@color1,10%);
@wnd_select_color: @color3;

// select
@select_back: darken(@color1,10%);
@select_color: @color3;
//errore
@error_back: darken(@color1,0%);
@error_color: #ffffff;

//box cmd
// @cmd_back: @color1;
// @cmd_back2: darken(@color5,0%);
// @cmd_hover_back: lighten(@color1,10%);
// @cmd_color: lighten(@color0,30%);
// @cmd_border_color_l: darken(@color3,10%);

// input
@inp_back: lighten(@color0,10%);
@inp_color: darken(@color1,20%);
@inp_hover_back: @color3;
@inp_hover_border_color: lighten(@color1,20%);
@inp_hover_color: @inp_color;
@inp_active_back: lighten(@color1,10%);
// @inp_err_back: darken(@color1,20%);

//option
// @opt_back: lighten(@color0,10%);
// @opt_color: darken(@color1,20%);
// @opt_hover_back: lighten(@color1,10%);
// @opt_hover_color: lighten(@color0,30%);
// @opt_border_color:darken(@color1,20%);

//select
// @select_back: lighten(@color0,10%);
// @select_color: darken(@color1,20%);

//context
// @cnt_row_back: lighten(@color0,20%);
// @cnt_border_color: darken(@color1,20%);

//tokens selected
// @token_back: darken(@color3,10%);
// @token_color: darken(@color1,20%);
// @token_color2: darken(@color5,0%);
// @token_select_back: lighten(@color1,20%);
// @token_select_color: @color3;

//scroll bar
@scroll_bar1:darken(@color1,0%);
@scroll_bar2: darken(@color0,10%);
