/** @format */

@import "color.less";
@import "tooltip.less";

@fsize_10: 22px;
@fsize_09: 20px;
@fsize_08: 17px;
@fsize_07: 13px;

@font_base: @fsize_10;
@font_table: @fsize_08;
// @font_table2: @fsize_07;
// @font_input: @fsize_08;
// @font_input2: @fsize_07;
// @font_select: @fsize_09;
// @font_msg: @fsize_08;
// @font_option: @fsize_08;

// @fserif: "Ties New Roman", Times, Georgia, serif;
@fserif: "Ties New Roman", Georgia, serif;
@fsans: arial, verdana, Helvetica, sans-serif;
.serif {
  font-family: "Ties New Roman", Georgia, serif;
}
.sans {
  font-family: arial, verdana, sans-serif;
}
.b0 {
  border: 1px solid #ff0000 !important;
}

.b1 {
  border: 1px solid #00ff00 !important;
}

.alert {
  background: greenyellow !important;
  color: blueviolet !important;
  border: 3px solid red !important;
}

html,
body,
div,
span,
table,
td,
label,
p,
a,
input,
ul,
li,
button {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: @font_base;
  font-family: @fserif;
  cursor: default;
}
a,
button,
select,
option {
  cursor: pointer;
}

@html_width: 1450px;

html {
  width: @html_width;
}

@body_height: 800px;
body {
  border-right: 1px solid maroon;
  border-bottom: 1px solid maroon;
  border-top: 0;
  position: relative;
  padding: 0;
  width: 100%;
  // min-height: @body_height;
  max-height: @body_height;
  // overflow: auto;
  margin: 0 auto 0 auto;
  background: @html_back;
  // overflow-y: auto;
  // overflow-x: auto;
  scrollbar-color: @scroll_bar1 @scroll_bar2;

  div.wait {
    display: none;
  }
}

body.wait {
  cursor: wait;

  #ulaquery_id {
    visibility: hidden;
  }

  div.wait {
    display: block;
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 75px);
    border-radius: 50%;
    background: inherit;
    border: 2px solid @color_wait;

    div.circle {
      width: 150px;
      height: 150px;
      clip-path: inset(0 75px 75px 0);
      border-radius: 50%;
      background: @color_wait;
      animation-name: wait;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes wait {
  100% {
    transform: rotate(360deg);
  }
}

@menu_height: 25x;
// @menuh_width: 700px;
@menu_sub_top: 26px;
@font_menu: @fsize_08;

div.menu_bar {
  width: 100%;
  min-height: @menu_height !important;
  max-height: @menu_height !important;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;

    li:nth-child(odd) {
      a {
        background: lighten(@menu_bck, -5%);
      }
    }

    li {
      position: relative;
      text-align: center;
      flex: 1;

      a {
        display: block;
        min-height: @menu_height;
        padding-top: 5px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        font-size: @font_menu;
        font-family: @fserif;
        font-weight: normal;
        background: @menu_bck;
        color: @menu_color;
        border-right: 1px solid @menu_border_bck;
      }
      a.br {
        line-height: 1;
      }
      a:hover {
        background: @menu_hover_bck;
        text-decoration: underline;
      }

      ul {
        display: none !important;
        position: absolute;
        top: @menu_sub_top;
        left: 0;
        width: 100%;
        z-index: 99;

        li {
          border-top: 1px solid @menu_border_bck;
          width: 150px;

          a {
            font-size: @font_menu;
            padding-left: 0;
            padding-right: 0;
            line-height: 1;
          }

          a.br {
            line-height: 1;
          }

          ul {
            top: -1px;
            left: 100%;

            li {
              border-top: 1px solid @menu_border_bck;

              a {
                min-width: 100%;
                padding-left: 0;
                padding-right: 0;
                line-height: 1;
              }

              a.br {
                line-height: 1;
              }
            }
          }

          ul.rgt {
            left: -100%;

            li {
              margin-right: 2px;
            }
          }
        }
      }
    }

    li.v:hover {
      ul.v {
        display: block !important;
      }
    }

    li.h:hover {
      ul.h {
        display: block !important;
      }
    }
  }
}

@dict_table_height: 750px;
@dict_row_height: 25px;
// @dict_head_width: 1099px;
@dict_col_width: 30px;
// @row_num_width: 50px;
// @dict_rows_height: 745px;
@font_head: @fsize_07;
// @font_num: @fsize_07;
@font_text: @fsize_08;
// @font_text2: @fsize_08;

#dict_table_id {
  box-sizing: border-box;
  height: @dict_table_height;
  overflow-y: scroll;
  overflow-x: scroll;
  padding-left: 5px;

  table {
    box-sizing: border-box;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    table-layout: fixed;
    margin-left: 5px;
    thead {
      z-index: 1;
      top: 0;
      position: sticky;
      tr {
        th {
          background: @head_back;
          color: @head_color;
          max-height: @dict_row_height;
          min-height: @dict_row_height;
          min-width: @dict_col_width;
          span {
            box-sizing: border-box;
            display: block;
            width: 100% !important;
            padding: 0 5px 0 5px;
            border-width: 0 1px 1px 0;
            border-style: solid;
            border-color: @cell_border_color;
            text-align: center;
            font-size: @font_head;
            font-family: @fsans;
            font-weight: normal;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          background: @cell_back;
          color: @cell_color;
          text-align: left;
          padding: 0 5px 0 5px;
          font-size: @font_text;
          font-family: @fsans;
          font-weight: normal;
          border-width: 0 1px 1px 0;
          border-style: solid;
          border-color: @cell_border_color;
          max-height: @dict_row_height;
          min-height: @dict_row_height;
          min-width: @dict_col_width;
        }
        td.m {
          background: lighten(@cell_back, 20%);
        }
      }
      tr:nth-child(odd) {
        td {
          background: lighten(@cell_back, 10%);
        }
        td.m {
          background: lighten(@cell_back, 30%);
        }
      }

      tr:hover {
        td {
          background: @cell_hover_back;
          color: @cell_hover_color;
        }
      }
    }
  }
}

div.menu_wnd {
  box-sizing: border-box;
  width: 100%;
  min-height: @menu_height !important;
  max-height: @menu_height !important;
  border-width: 2px 2px 0 2px;
  border-color: @menu_bck;
  border-style: solid;
  border-radius: 6px;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    li:nth-child(odd) {
      a {
        background: lighten(@menu_bck, -5%);
      }
    }
    li {
      position: relative;
      text-align: center;
      flex: 1;
      a {
        display: block;
        min-height: @menu_height;
        padding-top: 5px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        font-size: @font_menu;
        font-family: @fserif;
        font-weight: normal;
        background: @menu_bck;
        color: @menu_color;
        border-right: 1px solid @menu_border_bck;
      }
      a.br {
        line-height: 1;
      }
      a:hover {
        background: @menu_hover_bck;
        text-decoration: underline;
      }
    }
  }
}

@pos_msd_height: 600px;

div.pos_msd {
  box-sizing: border-box;
  border: 1px solid @wnd_border_color;
  padding: 5px 0 0 5px;
  background: @wnd_back;
  height: @pos_msd_height;
  overflow-y: scroll;
  overflow-x: scroll;

  ul.pos {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    list-style: none;

    li {
      div {
        margin-left: 5px;
        // border-bottom: 1px solid @wnd_border_color;

        ul {
          display: flex;
          flex-direction: row;
          align-items: left;
          justify-content: flex-start;
          list-style: none;

          li {
            box-sizing: border-box;
            min-height: 30px !important;
          }

          li.p {
            // box-sizing: border-box;
            min-width: 120px;
            background: darken(@wnd_back, 5%);
            color: @wnd_color;
            padding: 0 0 0 5px;
            margin: 0;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: @wnd_border_color;
            span {
              font-size: @fsize_08;
              font-weight: bold;
            }
          }
          li.e {
            min-width: 120px;
          }

          li.m {
            box-sizing: border-box;
            min-width: 120px;
            height: 30px !important;
            background: darken(@wnd_back, 5%);
            color: @wnd_color;
            padding: 0 0 0 5px;
            margin-right: 5px;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: @wnd_border_color;
            span {
              font-size: @fsize_08;
              font-weight: bold;
            }
          }
          li.a {
            background: darken(@wnd_back, 10%);
            padding: 0;
            a {
              padding: 0 9px 0 9px;
              margin-right: 5px;
              background: darken(@wnd_back, -10%);
              color: @wnd_color;
              font-size: @fsize_07;
              font-family: @fsans;
              font-style: normal;
              text-decoration: none;
              border: 1px solid @wnd_color;
              border-radius: 6px;
            }
            a:hover {
              font-style: italic;
              background: @wnd_hover_back;
              color: @wnd_hover_color;
            }
          }
        }
      }
    }
  }
}

// div.xpos_msd {
//   box-sizing: border-box;
//   border: 1px solid @wnd_border_color;
//   padding: 5px 0 0 5px;
//   background: @wnd_back;
//   height: @pos_msd_height;
//   overflow-y: scroll;
//   overflow-x: scroll;
//   ul.pos {
//     margin: 0 0 0 0;
//     padding: 0 0 0 0;
//     display: flex;
//     flex-direction: column;
//     align-items: left;
//     justify-content: flex-start;
//     list-style: none;
//     li {
//       div.p {
//         box-sizing: border-box;
//         width: 120px;
//         height: 30px !important;
//         padding: 5px 0 0 0;
//         margin-top: 10px;
//         border-width: 1px 1px 1px 1px;
//         border-style: solid;
//         border-color: @wnd_border_color;
//         background: darken(@wnd_back, 5%);
//         color: @wnd_color;
//         font-size: @fsize_08;
//         font-weight: bold;
//       }
//       div.m {
//         // box-sizing: border-box;
//         margin-left: 130px;
//         margin-top: -32px;
//         border-bottom: 1px solid @wnd_border_color;
//         ul {
//           display: flex;
//           flex-direction: row;
//           align-items: left;
//           justify-content: flex-start;
//           list-style: none;
//           li {
//             box-sizing: border-box;
//             // background: darken(@wnd_back, -10%);
//             min-height: 30px !important;
//             // border-width: 1px 0 0 0;
//             // border-style: solid;
//             // border-color: @wnd_border_color;
//             a {
//               padding: 0 9px 0 9px;
//               margin-right: 10px;
//               background: darken(@wnd_back, -10%);
//               color: @wnd_color;
//               font-size: @fsize_07;
//               font-family: @fsans;
//               font-style: normal;
//               text-decoration: none;
//               border: 1px solid @wnd_color;
//               border-radius: 6px;
//             }
//             a:hover {
//               font-style: italic;
//               background: @wnd_hover_back;
//               color: @wnd_hover_color;
//             }
//           }
//           li.m {
//             box-sizing: border-box;
//             min-width: 120px;
//             height: 30px !important;
//             background: darken(@wnd_back, 5%);
//             color: @wnd_color;
//             padding: 0 0 0 5px;
//             margin-right: 5px;
//             border-width: 1px 1px 0 1px;
//             border-style: solid;
//             border-color: @wnd_border_color;
//             span {
//               font-size: @fsize_08;
//               font-weight: bold;
//             }
//           }
//         }
//       }
//     }
//   }
// }
