/** @format */

@import "color.less";
@import "tooltip.less";

@fsize_10: 22px;
@fsize_09: 20px;
@fsize_08: 17px;
@fsize_07: 13px;

@font_base: @fsize_10;
// @font_table: @fsize_08;
// @font_table2: @fsize_07;
// @font_input: @fsize_08;
// @font_input2: @fsize_07;
// @font_select: @fsize_09;
// @font_msg: @fsize_08;
// @font_option: @fsize_08;

// @fserif: "Ties New Roman", Times, Georgia, serif;
@fserif: "Ties New Roman", Georgia, serif;
@fsans: arial, verdana, Helvetica, sans-serif;
.serif {
  font-family: "Ties New Roman", Georgia, serif;
}
.sans {
  font-family: arial, verdana, sans-serif;
}
@html_width: 1450px;
@body_height: 800px;
// @body_width: 1200px;
// @form_cnt_height: 400px;

// text
// @text_height: 775px;
// @text_top: calc(@menu_height + 2px);
// @text_row_width: 1000px;
//

.border0 {
  border: 1px solid #ff0000;
}

.border1 {
  border: 1px solid #00ff00;
}

.alert {
  background: greenyellow !important;
  color: blueviolet !important;
  border: 3px solid red !important;
}

html,
body,
div,
span,
table,
td,
label,
p,
a,
input,
ul,
li,
button {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: @font_base;
  font-family: @fserif;
  cursor: default;
}
a,
button,
select,
option {
  cursor: pointer;
}

html {
  width: @html_width;
}

body {
  border-right: 1px solid maroon;
  border-bottom: 1px solid maroon;
  border-top: 0;
  position: relative;
  padding: 0;
  width: 100%;
  min-height: @body_height;
  max-height: @body_height;
  overflow: auto;
  margin: 0 auto 0 auto;
  background: @html_back;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-color: @scroll_bar1 @scroll_bar2;

  div.wait {
    display: none;
  }
}

body.wait {
  cursor: wait;

  #ulaquery_id {
    visibility: hidden;
  }

  div.wait {
    display: block;
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 75px);
    border-radius: 50%;
    background: inherit;
    border: 2px solid @color_wait;

    div.circle {
      width: 150px;
      height: 150px;
      clip-path: inset(0 75px 75px 0);
      border-radius: 50%;
      background: @color_wait;
      animation-name: wait;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes wait {
  100% {
    transform: rotate(360deg);
  }
}

@menu_height: 25px;
// @menuh_width: 700px;
@menu_sub_top: 26px;
@font_menu: @fsize_08;

div.menu_bar {
  width: 100%;
  min-height: @menu_height !important;
  max-height: @menu_height !important;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;

    li:nth-child(odd) {
      a {
        background: lighten(@menu_bck, -5%);
      }
    }

    li {
      position: relative;
      text-align: center;
      flex: 1;

      a {
        display: block;
        min-height: @menu_height;
        padding-top: 5px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        font-size: @font_menu;
        font-family: @fserif;
        font-weight: normal;
        background: @menu_bck;
        color: @menu_color;
        border-right: 1px solid @menu_border_bck;
      }

      a.br {
        line-height: 1;
      }

      // a.img {
      //   display: block;
      //   line-height: 0;
      //   margin: 0;
      //   padding: 0;
      //   min-height: @menu_height;

      //   img {
      //     margin: 0;
      //     padding: 0;
      //     height: @menu_height;
      //     width: 100%;
      //   }
      // }

      a:hover {
        background: @menu_hover_bck;
        text-decoration: underline;
      }

      ul {
        display: none !important;
        position: absolute;
        top: @menu_sub_top;
        left: 0;
        width: 100%;
        z-index: 99;

        li {
          border-top: 1px solid @menu_border_bck;
          width: 150px;

          a {
            font-size: @font_menu;
            padding-left: 0;
            padding-right: 0;
            line-height: 1;
          }

          a.br {
            line-height: 1;
          }

          ul {
            top: -1px;
            left: 100%;

            li {
              border-top: 1px solid @menu_border_bck;

              a {
                min-width: 100%;
                padding-left: 0;
                padding-right: 0;
                line-height: 1;
              }

              a.br {
                line-height: 1;
              }
            }
          }

          ul.rgt {
            left: -100%;

            li {
              margin-right: 2px;
            }
          }
        }
      }
    }

    li.v:hover {
      ul.v {
        display: block !important;
      }
    }

    li.h:hover {
      ul.h {
        display: block !important;
      }
    }
  }
  // .title {
  //   background: @menu_title_bck !important;
  //   width:190px;
  // }

  // .title:hover {
  //   background: darken(@menu_title_bck, 5%) !important;
  // }
}

@dict_head_height: 30px;
@dict_head_width: 1099px;
@dict_col_width: 50px;
// @row_num_width: 50px;
@dict_rows_height: 745px;
@font_head: @fsize_09;

#dict_head_id {
  padding: 5px 0 0 0;
  font-size: @font_head;
  font-family: @fserif;
  max-height: @dict_head_height;
  min-width: @dict_head_width;
  max-width: @dict_head_width;

  table {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    table-layout: fixed;

    tr {
      td {
        background: @head_back;
        color: @head_color;
        padding-left: 2px;
        font-size: @font_head;
        font-family: @fsans;
        text-align: center;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: @head_border_color;
        min-width: @dict_col_width;
        max-width: @dict_col_width;
      }

      // td.n {
      //   min-width: @row_num_width;
      //   max-width: @row_num_width;
      //   font-size: @font_num;
      //   font-family: @fserif;
      //   font-weight: normal;
      //   text-align: center;
      //   padding-right: 5px;
      // }

      td.key {
        display: none;
      }
    }
  }
}

@font_num: @fsize_07;
@font_text: @fsize_09;
@font_text2: @fsize_08;

#lpmx_rows_id {
  min-height: @dict_rows_height;
  max-height: @dict_rows_height;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: auto;
  scrollbar-color: @scroll_bar1 @scroll_bar2;
  scrollbar-width: auto;

  table {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    table-layout: fixed;

    tr {
      td {
        background: @cell_back;
        color: @cell_color;
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 2px;
        padding-right: 0;
        font-size: @font_text;
        font-family: @fserif;
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        border-width: 1px;
        border-style: solid;
        border-color: @cell_border_color;
      }

      td.n {
        cursor: pointer;
        // min-width: @row_num_width;
        // max-width: @row_num_width;
        font-size: @font_num;
        font-family: @fserif;
        font-weight: normal;
        text-align: right;
        padding-right: 5px;
        background: @cmd_back;
        color: @cmd_color;
        border-top: 1px solid @cmd_border_color_l;
        border-bottom: 1px solid @cmd_border_color_l;
      }

      td.fr {
        // FORM non visibile
        display: none;
      }

      td.f {
        // FORM / FORMKY
        min-width: 240px;
        max-width: 240px;
        padding-left: 5px;
      }

      td.k {
        //FORM/FORMKEY
        min-width: 240px;
        max-width: 240px;
        text-decoration: underline;
        font-style: italic;
        padding-left: 5px;
      }

      td.l {
        //LEMMA
        min-width: 150px;
        max-width: 150px;

        input {
          width: 95%;
        }
      }

      td.e {
        min-width: 150px;
        max-width: 150px;

        input {
          width: 95%;
        }
      }

      td.ph {
        //LANG
        min-width: 90px;
        max-width: 90px;
        font-size: @font_text2;
        font-family: @fsans;
      }

      td.p {
        //POS
        min-width: 70px;
        max-width: 70px;
        font-size: @font_text2;
        font-family: @fsans;
      }

      td.fn {
        //FUN
        min-width: 70px;
        max-width: 70px;
        font-size: @font_text2;
        font-family: @fsans;
      }

      td.m {
        //MSD
        min-width: 250px;
        //max-width: 250px;
        font-size: @font_text2;
        font-family: @fsans;
      }
    }

    tr:nth-child(odd) {
      td.f,
      td.k,
      td.m,
      td.p,
      td.fn,
      td.ph {
        background: darken(@cell_back, 10%);
      }

      td.l,
      td.e {
        input {
          background: darken(@inp_back, 10%);
        }
      }
    }

    tr.select {
      td.f,
      td.k,
      td.m,
      td.p,
      td.ph,
      td.fn,
      td.m {
        background: @cell_jshover_back !important;
        color: @cell_jshover_color;
      }

      td.n {
        background: @row_num_select_back !important;
      }
    }

    tr.hover {
      td.f,
      td.k,
      td.m,
      td.p,
      td.fn,
      td.ph {
        background: darken(@cell_back, 30%);
      }

      td.n {
        background: @cmd_hover_back;
      }

      td.l,
      td.e {
        input {
          background: darken(@inp_back, 20%);
        }
      }
    }

    tr.bl {
      td.n {
        background: @cmd_back2;
        animation: blinker 1s linear infinite !important;
      }
    }

    tr.empty {
      td.f,
      td.k {
        background: @form_empty;
        color: wheat;
      }
    }
  }
}
